html, body{
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    width: 80%;
}

#inputField{
    width: 78%;
    height: 40px;
    border: 1px solid black;
    outline: none;
    font-size: medium;
    vertical-align: middle;
}

#addToDo{
    height: 44px;
    width: 19%;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}

.to-dos{
    margin-top: 25px;
    width: auto;

}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}