*{
    margin: 0;
    padding: 0;
}

.outer{
    background-color:blanchedalmond;
    transform: translate(0,11%);
    margin: auto;
    /* height: 50vh; */
    width: 75%;
    /* padding: 1px; */
    display: grid; 
    grid-template-columns: repeat(20,1fr);
    grid-gap: 1px;
}
.inner{
    height: 25px; 
    /* width: 50px; */
    background-color:burlywood;
    border: 1px solid black;
    /* box-sizing: border-box; */
}
.boxclicked{
    background-color:brown;
}

.boxhover{
    background-color: cadetblue;
}