*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

html{
    font-size: 62%;

}

.main-div{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: antiquewhite;
}
.inner-div{
    width: 40vw;
    background-color: snow;
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1 rem rgba(0, 0,0, 0.4);
}

.inner-div h2{
    font-size: 4rem;
    font-weight: 400;
    margin: 1rem 0 4rem 0;
}
.inner-div li{
    font-size: 2rem;
    margin: top 1.5rem;
    list-style: none;

}

input{
    cursor: pointer;
}
#submit,.btn{
    
    outline: none;
    font-size: 2rem;
    font-size: 400;
    display: block;
    
    padding: 1rem 3rem;
    margin: auto;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: skyblue;
    margin-top: 4rem ;
    cursor: pointer;
}
#submit:hover{
    background-color: springgreen;
}

#showScore{
    background-color: tan;
    margin-top: 3rem;
    padding:3rem 4 rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0,0, 0.4);
}
#showScore h3{
    font-size: large;
    text-align:center;
}

#showScore .btn{
    margin-top: 2rem;
    background-color: aquamarine;
    color: black;
}

#showScore .btn:hover{
    
    background-color:green;
    color: whitesmoke;
}

.scoreArea{
    display: none;
}